/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App--container{
    border: 1px solid red;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container{
    border-radius: 5px;
    width: 12%;
    margin: 15px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 0px 2px grey;
    transition: 0.5s linear all;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container:hover{
    transform: scale(1.05)
}

.container img{
    border-radius: 5px 5px 0 0 ;
    margin: 10px;
    box-shadow: 0px 0px 2px 2px grey;
}

.container button{
    border: none;
    padding: 10px 15px;
    background-color: #ADADAD;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.container button:active{
    color: black;
    border: 1px solid;
    border-radius: 2px;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 1rem;
    font-family: 'Century Gothic', monospace;
}

.wrapper{
    width: 1300px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    margin-top: 10px;
    border-radius: 4px;
    height: 60vh;
    box-shadow: 0px 0px 5px grey;
    margin: 20px 20px;
    transition: 0.5s linear all;
    margin-bottom: 10px;
}

.container:hover{
    transform: scale(1.005)
}

.container img{
    border-radius: 4px;
    margin-top: 5px;
    width: 280px;
    height: 400px;
    box-shadow: 0 0 2px 1px grey;
    transition: 0.5s linear;
}

.container:hover img{
    transform: scale(1.1)
}

.container h4{
    margin-top: 3px;
}

.container p{
    margin-top: 3px;
}

.container button{
    border: none;
    padding: 10px 35px;
    border-radius: 5px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid;
    transition: 0.2s linear;
}


.container button:active{
    background-color: black;
    color: white;
}