*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.book--container{
    width: 90%;
    margin: 10px auto;
}

.wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    border-radius: 5px;
    width: 12%;
    margin: 15px 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 0px 2px grey;
    transition: 0.5s linear all;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container:hover{
    transform: scale(1.05)
}

.container img{
    border-radius: 5px 5px 0 0 ;
    margin: 10px;
    box-shadow: 0px 0px 2px 2px grey;
}

.container button{
    border: none;
    padding: 10px 15px;
    background-color: #ADADAD;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.container button:active{
    color: black;
    border: 1px solid;
    border-radius: 2px;
}